section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section > p {
  position: absolute;
  display: block;
  margin: 0;
  line-height: 0.8;
  user-select: none;
}

.menu {
  padding: 5px 20px;
  width: 400px;
  height: 400px;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;
}

p {
  margin: 0;
}
