body {
  background-color: black;
}
section {
  overflow: hidden;
  position: relative;
  background-color: white;
}
section p {
  margin: 0;
  line-height: 0.8;
  user-select: none;
  position: relative;
}

.menu {
  width: 400px;
  height: 400px;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;
}

p {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
